<div ng-controller="mainController" style="text-align:center">
    <div class="btn-group" style="margin-top:20px; margin-bottom:20px;">
        <button type="button" ng-class="{active:(manageMode==0)}" ng-click="modeToBook()" class="btn btn-default">book</button>
        <button type="button" ng-class="{active:(manageMode==1)}" ng-click="modeToUser()" class="btn btn-default">user</button>
        <button type="button" ng-class="{active:(manageMode==2)}" ng-click="modeToOrder()" class="btn btn-default">order</button>
        <button type="button" ng-class="{active:(manageMode==3)}" ng-click="modeToOrderItem()" class="btn btn-default">orderItem</button>
    </div>
    <div ng-show="manageMode == 0" style="width:80%; margin-left:10%"><book-manage></book-manage></div>
    <div ng-show="manageMode == 1" style="width:70%; margin-left:15%"><user-manage></user-manage></div>
    <div ng-show="manageMode == 2" style="width:60%; margin-left:20%"><order-manage></order-manage></div>
    <div ng-show="manageMode == 3" style="width:60%; margin-left:20%"><order-item-manage></order-item-manage></div>
</div>