#head-container{width:auto; background-color: #AABBCC; padding:10px 10px; border-radius: 25px;}
#head-container *{text-align:center;}
h1{font-size: 40px;}

#body-container>div{width:auto; height:auto; margin:auto;}

table, th, td{border:0px solid #AABBCC;border-collapse:collapse;}
tr:nth-child(odd){background-color: #AABBCC;}
tr:hover{box-shadow: 0px 0px 5px #888888; transition-duration: 0.1s;}
input{border:0px solid #FFFFFF; background-color: inherit;}
input:focus{border:2px solid #AABBCC;}

/* view */
.bookWapper{border: 2px solid #AABBCC; border-radius: 10px; width:auto; min-width:300px; height:100px; padding:15px; margin:10px; float:left;}
.bookWapper:hover{box-shadow: 0px 0px 5px #888888;transition-duration: 0.2s}
.bookid{color: #BBB;width:80px; margin-left:5px;}
.shopCar{float:right; font-size:14px; margin:5px;}
.bookName{font-size:18px; margin:5px;  max-width:400px;overflow:auto;}
.bookPrice{font-size:14px; color:red; margin:2px; float:left}
.bookImage{width:80px; height:80px;float:left;margin:5px;border:2px dotted #555555;}
#bodycontainner *{text-align: center;}

/* manager */
.manageHead{text-align:center !important;}
.manageShort{width:100px; text-align: center; overflow:auto;}
.manageMiddle{width:200px; text-align: center; overflow:auto;}
.manageLong{width:300px; overflow:auto; text-align: center;}
.manageInput{background-color: #EEEEEE; box-shadow:none; width:95%; text-align: center;}